* {
  margin: 0; 
  padding: 0;
}

.MovesList {
  float: left;
}

.MovesList input[type="text"] {
  padding: 1px 3px;
}

.MovesList ul li {
  padding: 2px 0;
  list-style: none;
}

.MovesList ul li a {
  text-decoration: none;
}

.MovesList ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
