* {
  margin: 0;
  padding: 0;
}

body {
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  color: #FFF;
}

.MovesList {
  float: left;
}

.MovesList input[type="text"] {
  padding: 1px 3px;
}

.MovesList > ul > li:first-child {
  padding: 2px 0;
  color: #F00;
  list-style: none;
}

.MovesList ul ul li {
  text-indent: 10px;
}

.MovesList ul ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.MovesList ul ul li a {
  color: blue;
}

.MovesList ul ul li a.active:before {
  content: '👀';
}
